<section id="contact" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Kontakt oss</h2>
                    <p>Kom innom, eller gjerne ta kontakt på <a href="https://www.facebook.com/innherredjudobjj/">Facebook</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p><a href="mailto:ijudobjj@gmail.com">ijudobjj@gmail.com</a></p>
                    <p><a href="tel:+4795077326">950 77 326</a> (Snorre)</p>
                    <br>
                    <p>Vårtun Kristne Oppvekstsenter</p>
                    <p>Alstadhaugvegen 150</p>
                    <p>7607 Levanger</p>
                </div>
                <div class="col-lg-12">

                </div>
            </div>
        </div>
    </section>
