<!-- Services Section -->
    <section id="omoss">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Om oss</h2>
                    <h3 class="section-subheading text-muted">
                Innherred Judo og BJJ har erfarne kampsporttrenere. Siden 1972 har klubbens trenere utviklet utøvere som igjen har blitt svært gode representanter for idretten.

                        Judo og brasiliansk jiu-jitsu (BJJ) er idretter som bygger kondisjon, styrke og balanse hos sine utøvere. Det er også individuelle idretter som over tid fostrer selvdisiplin og selvsikkerhet.

                        Vi har partier for barn/ungdom og voksne klare for å ta i mot nybegynnere når som helst. Vi er lidenskapelig opptatt av judo og BJJ, og elsker å trene og lære bort.

                        Ta <a class="page-scroll" href="#contact">kontakt</a> for en uforpliktende prøveperiode i dag!
                        </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Barn og ungdom</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Voksne</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Brasiliansk jiu-jitsu</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>