<!-- Om oss Section -->
    <section id="omoss">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Om oss</h2>
                    <p class="text-muted">Innherred Judo og BJJ har erfarne kampsporttrenere. Siden 1972 har klubbens trenere utviklet utøvere som igjen har blitt svært gode representanter for idretten.</p>
                    <p class="text-muted">Judo og brasiliansk jiu-jitsu (BJJ) er idretter som bygger kondisjon, styrke og balanse hos sine utøvere. Det er også individuelle idretter som over tid fostrer selvdisiplin og selvsikkerhet.</p>
                    <p class="text-muted">Vi har partier for barn/ungdom og voksne klare for å ta i mot nybegynnere når som helst. Vi er lidenskapelig opptatt av judo og BJJ, og elsker å trene og lære bort.</p>
                    <p class="text-muted">Ta <a class="page-scroll" href="#contact">kontakt</a> for en uforpliktende prøveperiode i dag!</p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="service-heading">Barn</h4>
                    <p class="text-muted">Barn fra 1. til 7. klasse trener judo sammen. Treningene har som mål å bestå av lek og mestring. Samtidig vektlegger vi dispiplin for å innarbeide en god viljestyrke barna kan ta med seg videre i judo og livet.</p>
                    <p class="text-muted">Treningene vil øke smidighet, balanse og styrke. Og de vil selvsagt lære seg selvforsvar.</p>
                    <p class="text-muted">Barnepartiet trener tirsdag og torsdag fra 18-19.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Ungdom og voksne</h4>
                    <p class="text-muted">Voksne og ungdom fra 8. klasse trener judo sammen. Treningen blir lagt opp til den enkeltes ferdighetsnivå og inneholder kast, holdegrep, armbend og halslås. Treningene er lagt opp slik at alle, uansett nivå, skal kunne delta.</p>
                    <p class="text-muted">Partiet trener tirsdager og torsdager fra 19 og lørdager 10-12. De som ønsker kan trene BJJ som starter rett etterpå.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Brasiliansk jiu-jitsu</h4>
                    <p class="text-muted">BJJ er en gren av jiu-jitsu som har sitt utspring i Brasil. Mens judo ble en olympisk gren, beholdt BJJ fokuset på selvforsvar. I BJJ trener vi nesten utelukkende på bakken, med et mål om å få motstanderen til å gi seg(submit).</p>
                    <p class="text-muted">Du kan lese mer om Inherred og BJJ <a href="https://medium.com/innherred-judo-og-bjj/introduserer-bjj-for-innherred-judo-e5a015970a0c" target="_blank">på vår blogg</a></p>
                    <p class="text-muted">BJJ trenes tirsdag og torsdag fra 1930-2100, og lørdager 10-12</p>
                    <p class="text-muted">Ta også en titt på <a href="/bjjtreningslogg">treningsplanen</a></p>
                </div>
            </div>
        </div>
    </section>