<section id="treninger" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-muted">Her vil vi prøve å fortløpende legge ut teknikkene vi har gått gjennom på treningene.</p>
                <p class="text-muted">Slik kan du holde deg oppdatert selv om du skulle være uheldig å måtte stå over ei trening eller to.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Tirsdag 17. januar 2017</h3>
                <p class="text-muted">Vi trente enkel <strong>guard retention</strong> ved kun å bruke føttene fra open guard.</p>
                <p class="text-muted">Deretter lærte vi oss vi oss en <a href="https://youtu.be/MV0iZDE1izc?t=123">tripod sweep</a> fra open guard. Ta gjerne en titt på den <a href="https://www.youtube.com/watch?v=YwSZZSNai9o">i action fra legenden Marcelo Garcia</a>!</p>
                <br/>
                <p class="text-muted">Til slutt lærte vi oss <a href="https://www.youtube.com/watch?v=Zhh4W24rwrw">americana</a> fra side control</p>
            </div>
            <div class="col-lg-12">
                <h3>Torsdag 19. januar 2017</h3>
                <p class="text-muted">Vi lærte oss <a href="https://www.youtube.com/watch?v=1iZjnbCun0A">en escape fra side control</a> hvor vi endte opp i <strong>closed guard</strong>.</p>
                <p class="text-muted">Deretter lærte vi oss <a href="https://www.youtube.com/watch?v=icI_3iikjAI">kimura fra closed guard</a></p>
            </div>
            <div class="col-lg-12">
                <h3>Tirsdag 23. januar 2017</h3>
                <p class="text-muted">Vi lærte oss <a href="https://www.youtube.com/watch?v=Jl_8iVtpTE8">hip bump sweep</a> fra closed guard.</p>
                <p class="text-muted">Sweepen tok oss til <strong>full mount</strong> som vi lekte litt med</p>
                <p class="text-muted">Fra full mount lærte vi en <a href="https://www.youtube.com/watch?v=UNr5uyJ5fKM">armbar</a>, eller juji-gatame som det heter i judo.</p>
            </div>
            <div class="col-lg-12">
                <h3>Torsdag 25. januar 2017</h3>
                <p class="text-muted">Vi repeterte hip bump sweep og armbar.</p>
                <p class="text-muted">Vi lærte at en escape fra mount er å snu oss på magen. Det gir motstanderen vår en ny god posisjon for submission - back mount.</p>
                <p class="text-muted">Fra back mount lærte vi <a href="https://www.youtube.com/watch?v=jDaq6Fu1vGc">rear naked choke</a>, eller hadaka jime som det heter i judo. Noen kjenner den også som sleeper hold.</p>
                <p class="text-muted"><strong>Nå har vi lært oss teknikker for 5 av 6 hovedposisjoner i BJJ!</strong></p>
            </div>
            <div class="col-lg-12">
                <h3>Tirsdag 31. januar 2017</h3>
                <p class="text-muted">Vi repeterte hip bump sweep, armbar og rear naked choke.</p>
            </div>
            <div class="col-lg-12">
                <h3>Torsdag 2. februar 2017</h3>
                <p class="text-muted">Vi lærte <a href="https://www.youtube.com/watch?v=2sH7fF_Rcss">upa</a>, en frigjøring fra full mount.</p>
                <p class="text-muted">Upa sender oss rett inn i closed guard. Så vi lærte like greitt en <a href="https://www.youtube.com/watch?v=G97xHCC2OzE">passering fra closed guard</a>. Kan også <a href="https://www.youtube.com/watch?v=032wIsVv0hY">kjøres uten gi</a>.</p>
            </div>
        </div>
    </div>
</section>